@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

/* html,body{
    margin: 0;
    padding: 0;
} */

.chat-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.inner-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.user-messages-container{
    height: calc(100vh - 70px);
    overflow-y: scroll;
    /* background-color: blue; */
}

.messages-container{
    /* display: flex;
    flex-direction: column; */
    flex: 1;
    /* background-color: red; */
}

.user-messages-container>p{
    color: #000;
    font-size: 1.2rem;
    font-family: 'Epilogue', sans-serif;
}