@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.requests{
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.requests>main{
    flex: 1;
}

.requests-container{
    padding: 1rem;
}

.requests-container>h3{
    font-family: 'Inter', sans-serif;
}

.user-request-container{
    height: calc(100vh - 150px);
    /* background-color: red;   */
    overflow-y: scroll;
}

.user-requests-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.request-btns-outer-container{
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
}

.request-btn-container>button{
    /* border-radius: 100%; */
    border: 0;
    outline: 0;
    padding: 0.6rem;
    margin: 0 0.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.request-btns-outer-container>div:first-child>button{
    background-color: #405DE6;
}

.request-btns-outer-container>div:nth-child(2)>button{
    background-color: lightgrey;
}



@media screen and (min-width:768px){
    .requests>main{
        display: grid;
        grid-template-columns: auto 1fr;
    }


    .requests-main-page>div:first-child{
        position: relative;
        display: block;
        /* background-color: red; */
        /* box-shadow: 0; */
        padding: 1rem;
        border-right: 2px solid black;
    }

    .requests-container{
        /* background-color: green; */
    }
}