@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.message-bar{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    /* margin: 1rem 0; */
    padding: 1rem;
    border-radius: 5px;
}

.message-bar>img{
    margin: 0 0.5rem 0 0;
}

.message-text{
    font-family: 'Inter', sans-serif;
}